.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  background-color: var(--black);
  padding: 1rem;
}

.header a {
  color: inherit;
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
}

.header a:focus,
.header a:hover {
  outline: auto;
  color: var(--black);
  background-color: var(--white);
}

.content {
  margin: 3rem auto;
  max-width: 54ch;
}
